.foryou-list{
    padding: 20px 0 20px 50px;
    &_title{
        font-weight: 500;
        color:white;
        font-size: 1.5rem;
        margin-bottom: 1rem;

    }
    &_thumbnails{
        display: flex;
        flex-wrap: nowrap;
        width: calc(100vw-70px);
        min-width: 100%;
        overflow-x:scroll;
        &::-webkit-scrollbar{
            display: none;
        }
    }
    &_thumbnail{
        width: 450px;
        height: 250px;
        position: relative;
        margin-right: 10px;
        object-fit: cover;
        object-position: center;
        img{   
            width: 450px;
            height: 250px;
            object-fit: cover;
            object-position: center;
        }

    }
    &_top-layer{
        background: rgb(94,255,245);
        background: linear-gradient(328deg, rgba(94,158,255,1) 0%,rgba(119,30,135,1) 100%,rgba(60,38,184,1) 100%,rgba(0,0,0,1) 100%);
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity .4s ease-in-out;
        &:hover{
            opacity: .9;
            cursor: pointer;
            .fa-play{
                transform: translate3d(0,0,0);
                opacity: 1;
            }
        }
        .fa-play{
            font-size: 4rem;
            transform: translate3d(0,100px,0);
            opacity: 0;
            transition: all .3s eas-in-out .2s;
        }
    }
}